<div class="module">
	<div class="mid maintext subtext text-center">
     <h1>Elliot Schoenfeld</h1>
     	<p>Software Engineer for Norfolk Southern, proud puppy dad, and hobbyist</p>
     	<img src="pictures/selfie.jpg" style="border-radius:50%; height:auto; max-width:200px" >
     	<div class="form-group">
    &nbsp;
</div><div class="form-group">
    &nbsp;
</div><div class="form-group">
    &nbsp;
</div><div class="form-group">
    &nbsp;
</div><div class="form-group">
    &nbsp;
</div><div class="form-group">
    &nbsp;
</div>

     	<i class="fa fa-instagram fa-4x" style="color:white" aria-hidden="true"></i>
     	<i class="fa fa-github fa-4x col-sm-offset-1" style="color:white" aria-hidden="true"></i>
     	<i class="fa fa-envelope-o fa-4x col-sm-offset-1" style="color:white" aria-hidden="true"></i>
     	<i class="fa fa-linkedin-square fa-4x col-sm-offset-1" style="color:white" aria-hidden="true"></i>
     	<i class="fa fa-facebook-square fa-4x col-sm-offset-1" style="color:white" aria-hidden="true"></i>
     <div>
 </div>  