<div>
	<bground></bground>
	<div class="homepage">
	<h1 text-align="center"><center>My Portfolio</center></h1>
	<div class="row gridborder">
		<div class="col-md-6">
			<div class="text-center">
				<h2>No Sleep</h2>
			</div>
			<div class="text-center">			
				<a href="http://www.github.com/schoenfelde"><img src="pictures/nosleep.png"></a>
			</div>
			<div>
				<h2>
					<small>
						<br>No sleep is a windows application designed to easily prevent your computer from going to sleep or turning off the display. This was modeled after the mac application caffeine.
					</small>
				</h2>
				<i class="fa fa-instagram" aria-hidden="true"></i>
			</div>
		</div>
		<div class="col-md-6">
			<div class="text-center">
				<h2>Puppy Cam</h2>
			</div>
			<div class="text-center">
				<a href="http://www.puppycam.xyz"><img src="pictures/puppycamreal.png"></a>
			</div>
			<div>
				<h2>
					<small>
					<br>Puppycam.xyz is a simple web application designed for realtime monitoring of our puppy Ollie while we are away at work. Video feed is from a raspberry pi connected to the home network, livestreamed into a html website with <a href="getbootstrap.com">bootstrap ui</a>. 
					</small>
				</h2>
			</div>
		</div>
	</div>
	<div class="row gridborder">
		<div class="col-md-6">
			</div>
		</div>
	</div>
</div>
